{% extends "admin/base.html" %}

{% block content %}
<ul>
<li><a href='/admin/post'>Post List</a>  <a href='/post/add'>Post Add</a></li>
<li><a href='/admin/page'>Page List</a>  <a href='/page/add'>Page Add</a></li>
<li><a href='/admin/tag'>Tag List</a>  <a href='/tag/add'>Tag Add</a></li>
<li><a href='/admin/category'>Category List</a>  <a href='/category/add'>Category Add</a></li>
<li><a href='/admin/link'>Link List</a>  <a href='/link/add'>Link Add</a></li>
</ul>
<a href='/'>Return to Home</a>
{% endblock %}