{% include "header.html" %}
{% block content %} {% endblock %} 
<link type="text/css" rel="stylesheet" href="/static/SyntaxHighlighter/css/SyntaxHighlighter.css"></link>
<script language="javascript" src="/static/SyntaxHighlighter/js/shCore.js"></script>
<script language="javascript" src="/static/SyntaxHighlighter/js/shBrushCpp.js"></script>
<script language="javascript" src="/static/SyntaxHighlighter/js/shBrushCSharp.js"></script>
<script language="javascript" src="/static/SyntaxHighlighter/js/shBrushCss.js"></script>
<script language="javascript" src="/static/SyntaxHighlighter/js/shBrushDelphi.js"></script>
<script language="javascript" src="/static/SyntaxHighlighter/js/shBrushJava.js"></script>
<script language="javascript" src="/static/SyntaxHighlighter/js/shBrushJScript.js"></script>
<script language="javascript" src="/static/SyntaxHighlighter/js/shBrushPhp.js"></script>
<script language="javascript" src="/static/SyntaxHighlighter/js/shBrushPython.js"></script>
<script language="javascript" src="/static/SyntaxHighlighter/js/shBrushRuby.js"></script>
<script language="javascript" src="/static/SyntaxHighlighter/js/shBrushSql.js"></script>
<script language="javascript" src="/static/SyntaxHighlighter/js/shBrushVb.js"></script>
<script language="javascript" src="/static/SyntaxHighlighter/js/shBrushXml.js"></script>
<script language="javascript">
dp.SyntaxHighlighter.ClipboardSwf = '/static/SysntaxHighlighter/flash/clipboard.swf';
dp.SyntaxHighlighter.HighlightAll('code');
</script>
{% include "footer.html" %}