{% load wwb_fun %} 
	</div>
	<!-- main END -->
	{% include "sidebar.html" %}
	<div class="fixed"></div>
</div>
<!-- content END -->
<!-- footer START -->
<div id="footer">
    <a id="gotop" href="#" onclick="MGJS.goTop();return false;">Top</a>
    <div id="copyright">
        {% wwb_bloginfo 'name' %}
    </div>
    <div id="themeinfo">
        Theme by <a href="http://www.neoease.com/">mg12</a>. Modifid by <a href="{% wwb_bloginfo 'url' %}">Wu Wenbin</a>.
    </div>
</div>
<!-- footer END -->
</div>
<!-- container END -->
</div>
<!-- wrap END -->
</body> </html> 